body {
  font-family: "Roboto", sans-serif;
  background: darken(white, 0.2);
  padding: 0;
  margin: 0;
}

#loader {
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
}

.active {
  color: pink;
}

.room-row {
  display: flex;
  flex-direction: row;
}
